.header {
  padding: 22px 0 20px;

  background-color: $color-default-black;

  .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $color-default-white;

    @include vp-767 {
      width: 106px;
      height: 36px;
    }
  }

  .btn {
    margin-left: auto;

    @include vp-374 {
      padding: 13px 25px;
    }

    @media (max-width: 359px) {
      font-size: 14px;
      padding: 12px;
    }
  }

  @include vp-1023 {
    padding: 13px 0;
  }

  @include vp-374 {
    padding: 16px 0;
  }
}
