.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  color: $color-default-black;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 0;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 80%;
    padding: 56px 80px;

    background-color: $color-default-white;

    @include vp-1023 {
      width: 100%;
      padding: 48px 40px;
    }
    @include vp-767 {
      width: 100%;
      padding: 24px 16px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 77%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
  &__title {
    margin-bottom: 32px;
    color: $color-default-black;
    @include vp-1023 {
      margin-bottom: 24px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: list;

    li {
      position: relative;
      text-indent: 16px;
      &::before {
        content: counter(list) ".";
        counter-increment: list;
        position: absolute;
        display: block;
        left: -15px;
        top: 0;
      }
      &:not(:last-child) {
        margin-bottom: 64px;
        @include vp-767 {
          margin-bottom: 24px;
        }
      }
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
