.subscribe {
  margin-top: 72px;
  &__title {
    margin-bottom: 48px;
  }
  &__inner {
    display: flex;
    @include vp-767 {
      flex-direction: column;
    }
  }
  &__form {
    width: 486px;
    margin-right: 126px;
    @include vp-1023 {
      margin-right: 53px;
    }
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__contacts-field {
    margin-bottom: 32px;
    @include vp-767 {
      margin-bottom: 24px;
    }
  }
  &__text {
    margin: 0;
    margin-bottom: 8px;
    color: $color-default-white;
    opacity: 0.6;
  }
  &__data {
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    color: $color-default-white;
    @include vp-1023 {
      font-size: 32px;
      line-height: 40px;
    }
    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
