<header class="header @@if (context.mod) { header--@@mod }">
  <div class="container">
    @@if (!context.index) {
    <a class="header__logo" href="index.html" aria-label="Переход на главную">
      <picture>
        <source type="image/webp" srcset="img/content/logo-desktop.webp, img/content/logo-desktop@2x.webp 2x">
        <img src="img/content/logo-desktop.png" srcset="img/content/logo-desktop@2x.png 2x" width="130" height="44"
          alt="Logo Witcher">
      </picture>
    </a>
    }
    @@if (context.index) {
    <a class="header__logo" href="#" aria-label="Главная страница">
      <picture>
        <source type="image/webp" srcset="img/content/logo-desktop.webp, img/content/logo-desktop@2x.webp 2x">
        <img src="img/content/logo-desktop.png" srcset="img/content/logo-desktop@2x.png 2x" width="130" height="44"
          alt="Logo Witcher">
      </picture>
    </a>
    <a class="btn btn--secondary" href="subscribe.html">Подключить подписку</a>
    }
  </div>
</header>